table th, table td {
    vertical-align: middle !important;
}

footer p {
    margin-bottom: 0;
}

footer p a {
    color: rgba(255, 255, 255, 0.85);
}
footer p a:hover {
    color: white;
    text-decoration: none;
}
